<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" contents="width=device-width">
        <title>Flask Template</title>
    </head>
    <body>
        <form action="/results" method = "POST">
            <h2>A few of my favorite things</h2>
            <label>Favorite color: <input type="text" name="color"/></label><br>
            <label>Lucky number: <input type="number" name="luck_num"/></label><br>
            <button>Submit</button>
        </form>
    </body>
</html>